* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --clr-bg-main: #e8dcc4; 

    --clr-nav-bg: #2c423f; 

    --clr-accent-primary: #d35400; 

    --clr-accent-secondary: #e6a817; 

    --clr-card-bg: #85967d; 

    --clr-text-main: #333333; 

    --clr-text-light: #fdfdfd;

    --clr-glass-bg: rgba(0, 0, 0, 0.45);

    --fs-h1: clamp(1.5rem, 1.5vw + 1rem, 3rem);

    --fs-h2: clamp(1rem, 1.5vw + 0.5rem, 1.8rem);

    --fs-body: clamp(1.25rem, 1vw + 0.25rem, 1.25rem);

    --fs-nav: clamp(1.2rem, 1.7vw, 1.65rem);

    --fs-logo: clamp(2.5rem, 2.5vw + 0.5rem, 3.5rem);
}

body {

    font-family: "Montserrat", sans-serif, system-ui, "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content {

    flex: 1;
    display: flex;
}

button {

    border: none;
    cursor: pointer;
    font-family: inherit;
    font-weight: 600;
}