header {

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--clr-nav-bg);
}

.header-container {

    width: 75%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {

    color: var(--clr-accent-primary);
    font-size: var(--fs-logo);

    font-family: "Pacifico", cursive;
}

.main-nav {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(1rem, 6vw, 8rem);

    .nav-link {

        background-color: transparent;
        color: var(--clr-text-light);
        font-size: var(--fs-nav);
    }

    .nav-link:hover {

        color: var(--clr-accent-primary);
    }
}